html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url(https://admission-global.skku.edu/bbs/filedown.php?bbsid=global_gallery_eng&file_seq=7022);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  border: 0;
}

.left {
  width: 50%;
  height: 100%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  width: 50%;
  height: 100%;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signin-btn {
  margin: 0 10px 20px 0;
}

.signup-btn {
  margin: 0 0 20px 10px;
}
.buttons {
  display: flex;
}

.forgot-pass {
  margin-top: 10px;
  text-align: left;
  margin-left: 5px;
}

.logo {
  width: 50px;
  margin: 20px auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
    overflow-y: scroll;
    max-height: unset;
}

.left footer {
  margin: auto auto 0 auto;
}

.login-message {
  color: red;
}
